:root {
  --branding-colour: #655ef8;
  --bg-colour: #f2edfd;
  --footer-branding-colour: #b3affa;
  --font-branding: #120d27;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 84px;
}

.hero {
  text-align: center;
  background-color: var(--bg-colour);
  padding: 160px 20px;
  color: var(--font-branding);
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: var(--font-branding);
}
.btn-branding {
  background-color: var(--branding-colour);
  color: white;
  border-radius: 8px;
  padding: 14px 26px;
  font-size: 18px;
}
.secondary-btn-branding {
  border-radius: 8px;
  padding: 10px 20px;
  background-color: var(--bg-colour);
  border-color: var(--branding-colour);
}
.secondary-btn-branding:hover {
  background-color: var(--branding-colour);
  color: white;
}
.description {
  padding: 100px 40px;
}

.content {
  padding: 120px 60px;
  background-color: var(--bg-colour);
  border-radius: 10px;
  color: var(--font-branding);
}
.content h1 {
  font-size: 64px;
  padding-bottom: 50px;
}
.content h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.content-container {
  padding: 160px 20px;
  background-color: white;
}
.about-me-img {
  border-radius: 15px;
}
.content p {
  margin: 0 70px;
}

@media (max-width: 700px) {
  .hero {
    padding: 80px 20px;
  }
  .hero,
  h2,
  p,
  .content-container {
    text-align: center;
  }
  h2 {
    margin-top: 20px;
  }
  h1 {
    font-size: 56px;
  }
  .btn-branding {
    padding: 10px 20px;
    font-size: 14px;
  }
  .description {
    padding: 0;
    text-align: center;
  }
  .content-container h1 {
    font-size: 48px;
  }
  .content-container h3 {
    font-size: 15px;
  }
  .content {
    padding: 40px 10px;
  }
  .content-container {
    padding: 60px 20px;
  }
}
